<mat-card class="userinfo">
    <mat-card-header>
        <mat-card-title>Benutzerinformationen</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-list role="list">
            <table>
                <tr>
                    <td>Benutzername:</td>
                    <td>{{user.displayName}}</td>
                    <td><i class="material-icons edit" matTooltip="bearbeiten">create</i></td>
                </tr>
                <tr>
                    <td>Email:</td>
                    <td>{{user.email}}</td>
                    <td><i class="material-icons edit" matTooltip="bearbeiten">create</i></td>
                </tr>
                <tr>
                    <td>Passwort:</td>
                    <td></td>
                    <td><i class="material-icons edit" matTooltip="bearbeiten">create</i></td>
                </tr>
                <tr>
                    <td>Telefonnummer:</td>
                    <td>d</td>
                    <td><i class="material-icons edit" matTooltip="bearbeiten">create</i></td>
                </tr>
                <tr>
                    <td>Account Status:</td>
                    <td>d</td>
                    <td><i class="material-icons edit" matTooltip="bearbeiten">create</i></td>
                </tr>
            </table>
        </mat-list>
    </mat-card-content>
</mat-card>