<div class="card-wrapper">
    <mat-card id="monthly-balance" class="balance-card">
        <mat-card-header>Balance laufender Monat</mat-card-header>
        <mat-card-content>
            <h1>30€</h1>
        </mat-card-content>
    </mat-card>
    <mat-card id="all-time-balance" class="balance-card">
        <mat-card-header>Balance gesamt ohne ausgewiesene Rücklagen</mat-card-header>
        <mat-card-content>
            <h1>30€</h1>
        </mat-card-content>
    </mat-card>
</div>
<div class="chart-wrapper">
    <mat-card id="card-expenses">
        <mat-card-header>
            Ausgaben im aktuellen Monat
        </mat-card-header>
        <mat-card-content>
            <div #containerChart id="test" class="chart-wrapper">
                <ngx-charts-advanced-pie-chart [view]="[containerChart.offsetWidth, 300]" [results]="saleData"
                    [gradient]="false" [label]="'Gesamt'" [valueFormatting]="valueFormatter">
                </ngx-charts-advanced-pie-chart>
            </div>
        </mat-card-content>
    </mat-card>
</div>
<mat-card id="card-balances">
    <mat-card-content>
        Content
    </mat-card-content>
    <mat-card-footer>Footer</mat-card-footer>
</mat-card>