<div class="card-wrapper">
    <mat-card id="card-expenses">
        <mat-card-content>
            <div class="chart-wrapper">
                <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
                    [plugins]="barChartPlugins" [legend]="barChartLegend" [chartType]="barChartType">
                </canvas>
            </div>
        </mat-card-content>
        <mat-card-footer>Footer</mat-card-footer>
    </mat-card>
</div>
<mat-card id="card-balances">
    <mat-card-content>
        Content
    </mat-card-content>
    <mat-card-footer>Footer</mat-card-footer>
</mat-card>